.card {
  width: 100%;
  //transform-style: preserve-3d;
  position: relative;
  perspective: 6000px;
  //height: 60vh;
}


.front, .back {
  backface-visibility: hidden;
  //transform-style: preserve-3d;
  transition: all .5s ease;
  backface-visibility: hidden;
}

.front{
  z-index: 20;
}

.back {
  position: absolute;
  font-weight: bold;
  transform: rotateY(180deg);
  top: 0px
}

.isFlippedY{
  & .front{
    transform: rotateY(-180deg);
  }
  & .back{
    transform: rotateY(0);
  }
}

// .card:hover .front{
//   transform: rotateY(-180deg);
// }


// .card:hover .back{
//   transform: rotateY(0);
// }

.overflowScroll{
  overflow: scroll;
}

.absBottom{
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  min-width: 12rem;
  width: 50%;
  & img {
    height: 100%;
  }
}