$purple: #550356;
//$pink: #fa7c91;
//$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
//$family-sans-serif: 'Nunito', sans-serif;
//$grey-dark: $brown;
//$grey-light: $beige-light;
//$primary: $purple;
//$link: $pink;
//$widescreen-enabled: false;
//$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $purple;
//$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;
body{
  background-image: linear-gradient(to top, #7b55d6 0%, #802e68 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans&display=swap');

// $family-sans-serif: "Open Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
// ;

$title-family: "Merriweather";


@import '../node_modules/bulma/bulma.sass'